*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.container{
    border: solid black 5px;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.calc-head .input{
    width: 349px;
    height: 100px;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: right;
    font-weight: bold;
    border: black solid 5px;
}
.btn{

    width: 87px;
    height: 60px;
    color: white;
    font-weight: bold;
    background-color: rgb(51, 50, 50);

}
.btn:hover{
    background-color: rgb(32, 170, 39);
}
.btn-violet{
    background-color: violet;
}
.btn-yellow{
    background-color: yellow;
}
